<%- include ("partials/header") %>

<div class="min">
    <p class="sign" align="center">Sign in</p>
    <form class="form1" action="/login" method="POST">
      <input class="un" type="text" align="center" placeholder="Username"  name="username" required>
      <input class="pass" type="password" align="center" placeholder="Password"  name="password" required>
	  <!-- <a class="submit" align="center" type="submit">Sign in</a> -->
	  <button class="submit sign-in"  align="center" type="submit">Sign in</button>
	  <p class="forgot" align="center"><a href="/campgrounds">Go Back</a></p>
        </form>
 </div>

<%- include ("partials/footer") %>
