<%- include ("partials/header") %>

<div class="min" action="/register" method="POST">
    <p class="sign-up" align="center">Sign Up</p>
    <form class="form1" action="/login" method="POST">
      <input class="un un-up" type="text" align="center" placeholder="Username"  name="username" required>
      <input class="pass pass-up" type="password" align="center" placeholder="Password"  name="password" required>
	  <!-- <a class="submit" align="center" type="submit">Sign in</a> -->
	  <button class="submit-up sign-up"  align="center" type="submit">Sign Up</button>
	  <p class="forgot-up" align="center"><a href="/campgrounds">Go Back</a></p>
        </form>
    </div>

<%- include ("partials/footer") %>